.main-div-wrapper{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

#class-div-1{
    background-color: saddlebrown;
    width: 100px;
    height: 100px;
}

#class-div-2{
    background-color:black;
    width: 100px;
    height: 100px;
}